{# Story story Stories stories #}
<div class="main container">
    {% if story %}
    <form action="{% url 'update_story' story.id %}" method="post" class="form-horizontal">
    {% else %}
    <form action="{% url 'create_story' %}" method="post" class="form-horizontal">
    {% endif %}
    
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-toolbox">
                <h3 class="panel-title">
                    {% if story %}
                        Update story
                    {% else %}
                        Create story
                    {% endif %}
                </h3>
                <div class="panel-toolbar">
                    {% if story %}
                        {% include 'stories/_pills.html' %}
                    {% endif %}
                </div>
            </div>
            <div class="panel-body">
                <div class="row-fluid">
                    <div class="col-md-2">
                        <img class="thumbnail" src="{{STATIC_URL}}app/img/layout/isotipo.png" class="navbar-image" alt="Requies">
                    </div>
                    <div class="col-md-10">
                        <div class="well">
                            {% load bootstrap3 %}
                            {% csrf_token %}
                            {% bootstrap_form story_form layout='horizontal' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer panel-footer-toolbox">
                <div class="panel-toolbar">
                    <div class="actions">
                        
                        {% if story %}
                            <a class="btn btn-default" href="{% url 'show_story' story.id %}">Cancel</a>
                            <input class="btn btn-success" type="submit" name="commit" value="Update story">
                        {% else %}
                            <a class="btn btn-default" href="{% url 'stories' %}">Cancel</a>
                            <input class="btn btn-success" type="submit" name="commit" value="Create story">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>