{# Story story Stories stories #}
<ul class="nav nav-pills" role="tablist">
    
    <!-- Details -->
    <li class="">
        <a data-tooltip="tooltip" href="{% url 'show_story' story.id %}" title="Details">
            <span class="glyphicon glyphicon-list"></span> Details
        </a>    
    </li>

    <!-- Edit -->
    <li class="">
        <a data-tooltip="tooltip" href="{% url 'edit_story' story.id %}" title="Edit">
            <span class="glyphicon glyphicon-edit"></span> Edit
        </a>
    </li>

    <!-- Delete -->
    <li class="">
        <a data-method="delete" data-tooltip="tooltip" href="{% url 'delete_story' story.id %}" title="Delete">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </a>
    </li>
</ul>