{# Story story Stories stories #}
{% extends "layouts/layout.html" %}
{% block MAIN %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'stories' %}">Stories</a></li>
            <li><a href="{% url 'show_story' story.id %}">{{story.name}}</a></li>
            <li class="active">Delete confirmation</li>
        </ol>
    </div>

    <div class="main container">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-toolbox">
                <h3 class="panel-title">
                    Delete {{story.name}}
                </h3>
                <div class="panel-toolbar">
                    {% include 'stories/_pills.html' %}
                </div>
            </div>
            <div class="panel-body">
                <div class="row-fluid">
                    <div class="col-md-2">
                        <img class="thumbnail" src="{{STATIC_URL}}app/img/layout/isotipo.png" class="navbar-image" alt="Requies">
                    </div>
                    <div class="col-md-10">
                        <div class="jumbotron text-center">
                            <h2>Delete confirmation</h2>
                            <p>Delete a story <strong>cannot be undone</strong>. Tenga en cuenta que .... <strong>¿Está seguro de que desea continuar?</strong></p>
                            
                            <p>Para seguir adelante presione Eliminar:</p>
                            <div class="row" action="/obras/53bcccf7362971292f000019" method="post">
                                <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                                    <a href="{% url 'destroy_story' story.id %}" class="btn btn-lg btn-danger">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer panel-footer-toolbox">
                <div class="panel-toolbar">
                    <a href="{% url 'show_story' story.id %}" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}