{# Story story Stories stories #}
{% extends "layouts/layout.html" %}
{% block MAIN %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'stories' %}">Stories</a></li>
            <li><a href="{% url 'show_story' story.id %}">{{story.name}}</a></li>
            <li class="active">Edit</li>
        </ol>
    </div>
    {% include 'stories/_form.html' %}
{% endblock %}