{# Story story Stories stories #}
{% extends "layouts/layout.html" %}
{% block MAIN %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Stories</a></li>
            <li class="active">Index</li>
        </ol>
    </div>
    <div class="main container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-toolbox">
                        <h3 class="panel-title">Stories</h3>
                        <div class="panel-toolbar">
                            <form action="" class="form-toolbar">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <button class="btn btn-default" data-tooltip="tooltip" title="Search">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </form>
                            
                            <a href="{% url 'new_story' %}" class="btn btn-primary" data-tooltip="tooltip" title="Add story">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                            
                        </div>
                    </div>
                    <div class="table-full">
                        <table class="table table-striped pretty">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for story in stories %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td><a href="{% url 'show_story' story.id %}">{{story.name}}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.table-full -->
                    <div class="panel-footer panel-footer-toolbox">
                        <div class="panel-toolbar">
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}