<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|default:"Boilerplate App" }}</title>
    {# <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}app/css/style.css"> #}
    <link rel="stylesheet/less" href="{{STATIC_URL}}app/css/style.less">
    <script src="{{STATIC_URL}}app/js/vendor/less-1.4.1.min.js"></script>
    {# <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script> #}
</head>
<body>
    {% include 'layouts/menu.html' %}
    {% block MAIN %}{% endblock %}

    <script src="{{STATIC_URL}}app/js/vendor/jquery-1.10.1.min.js"></script>
    <script src="{{STATIC_URL}}app/js/vendor/underscore-min.1.5.2.js"></script>
    <script src="{{STATIC_URL}}app/js/bootstrap/transition.js"></script>
    <script src="{{STATIC_URL}}app/js/bootstrap/alert.js"></script>
    <script src="{{STATIC_URL}}app/js/bootstrap/button.js"></script>
    <script src="{{STATIC_URL}}app/js/bootstrap/carousel.js"></script>
    <script src="{{STATIC_URL}}app/js/bootstrap/collapse.js"></script>
    <script src="{{STATIC_URL}}app/js/bootstrap/dropdown.js"></script>
    <script src="{{STATIC_URL}}app/js/bootstrap/modal.js"></script>
    <script src="{{STATIC_URL}}app/js/bootstrap/tooltip.js"></script>
    <script src="{{STATIC_URL}}app/js/bootstrap/popover.js"></script>
    <script src="{{STATIC_URL}}app/js/bootstrap/scrollspy.js"></script>
    <script src="{{STATIC_URL}}app/js/bootstrap/tab.js"></script>
    <script src="{{STATIC_URL}}app/js/bootstrap/affix.js"></script>
    <script src="{{STATIC_URL}}app/js/vendor/holder.js"></script>
    <script src="{{STATIC_URL}}app/js/widow/widow.js"></script>
    <script src="{{STATIC_URL}}app/js/vendor/chosen.jquery.min.js"></script>
    <script src="{{STATIC_URL}}app/js/vendor/jquery.pep.js"></script>
    <script src="{{STATIC_URL}}app/js/vendor/jquery.placeholder-2.0.7.js"></script>
    <script src="{{STATIC_URL}}app/js/main.js"></script>

<script>
$(document).on('ready', function () {
    $('[data-tooltip="tooltip"]').tooltip()
})
</script>

    {% block SCRIPT %}{% endblock %}
</body>
</html>