<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <a href="/" class="navbar-brand">
                <img src="{{STATIC_URL}}app/img/layout/requies-white.png" class="navbar-image" alt="Requies" >
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-no-turbolink=true>App <b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                        <li><a href="{% url 'categories' %}">Categories</a></li>
                        <li><a href="{% url 'stories' %}">Stories</a></li>
                    </ul>
                </li>
                <li><a href="/admin">Admin</a></li>
            </ul>
            

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-home"></span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <b class="glyphicon glyphicon-cog"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class='disabled'><a href="#"><span class="glyphicon glyphicon-user"></span> Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'destroy_session' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>

            {% if user.is_authenticated %}
                <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">{{user.get_username}}</a></p>
            {% else %}
                <p class="navbar-text navbar-right"><a class="navbar-link" href="{% url 'new_session' %}">Login</a></p>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>