{# Category category Categories categories #}
{% extends "layouts/layout.html" %}
{% block MAIN %}
	<div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'categories' %}">Categories</a></li>
            <li><a href="{% url 'show_category' category.id %}">{{category.name}}</a></li>
            <li class="active">Edit</li>
        </ol>
    </div>
    {% include 'categories/_form.html' %}
{% endblock %}