{# Category category Categories categories #}
{% extends "layouts/layout.html" %}
{% block MAIN %}
	<div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Categories</a></li>
            <li class="active">New</li>
        </ol>
    </div>
    {% include 'categories/_form.html' %}
{% endblock %}