{# Category category Categories categories #}
{% extends "layouts/layout.html" %}
{% block MAIN %}

    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'categories' %}">Categories</a></li>
            <li class="active">{{category.name}}</li>
        </ol>
    </div>

    <div class="main container">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-toolbox">
                <h3 class="panel-title">
                    {{category.name}}
                </h3>
                <div class="panel-toolbar">
                    {% include 'categories/_pills.html' %}
                </div>
            </div>
            <div class="panel-body">
                <div class="row-fluid">
                    <div class="col-md-2">
                        <img class="thumbnail" src="{{STATIC_URL}}app/img/layout/isotipo.png" class="navbar-image" alt="Requies">
                    </div>
                    <div class="col-md-10">
                        <div class="well well-show-item">
                            <dl class="dl-horizontal dl-show-item">
                                <dt>Name</dt>
                                <dd>{{category.name}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer panel-footer-toolbox">
                <div class="panel-toolbar">
                    <a href="{% url 'categories' %}" class="btn btn-default">Volver</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}