.scrollable-list {
	@maxh: 300px;
	@bgcolor: white;

	&#sites-list-group {
		@maxh: 250px;
		@bgcolor: @list-group-hover-bg;
		.shadow-scroll();
	}

	> .list-group {
		margin-bottom: 0px;
		> a.list-group-item {
			background-color: transparent;
			> .active-badge {
				background-color: @list-group-active-bg;
			}
		}
	}
}
