.simple-map {
	min-height: 400px;
	background-color: #dadada;
	border: solid 1px #dadada;
	border-radius: 5px;
}

.drawing-map {
	min-height: 400px;
	background-color: #dadada;
	border: solid 1px #dadada;
	border-radius: 5px;
}