.shadow-scroll(@maxh: @maxh, @bgcolor: @bgcolor) {
	overflow: auto;
	max-height: @maxh;

	background:
		linear-gradient(@bgcolor 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), @bgcolor 70%) 0 100%,
		
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	
	background:
		linear-gradient(@bgcolor 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), @bgcolor 70%) 0 100%,
		
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;

	background-color: @bgcolor;
	background-repeat: no-repeat;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}