
/*
 * Logo de multitelematics
 */
.navbar-image {
	height: 30px;
	margin-top: -5px;
}

.navbar-scrollable {
	.clearfix();
	float: left;
	position: relative;
}

.navbar-scrollable > .navbar-nav{
	// position: absolute;
	// left: 0;
}