//
// Wells
// --------------------------------------------------

.well-show-item {
	background-color: transparent;
}

.scrollable-well {
	@maxh: 300px;
	@bgcolor: white;

	&#permissions-well {
		@maxh: 1000px;
		@bgcolor: @well-bg;
		.shadow-scroll();
	}

	> .well {
		margin-bottom: 0px;
		background-color: transparent;
	}
}

.well {
	.well-sm.well-white {
		background-color: #fff;
	}

	#quick-select-deselect {
		> label.checkbox-inline {
			padding-top: 0px;
			padding-bottom: 2px;
		}

		> strong {
			margin-right: 10px;
		}
	}	
}
