{% extends "layouts/layout-login.html" %}
{% block MAIN %}
    <div class="container">
        <div class="login-header">
            <div class="row">
                <div class="col-md-8 col-sm-offset-2 text-center">
                    <img src="{{STATIC_URL}}app/img/layout/requies-blue.png" alt="Requies" >
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                        <form action="{% url 'create_session' %}" method="post" class="new_user form-signin">
                            {% csrf_token %}
                            <input name="username" type="text" class="form-control" placeholder="Username">
                            <input name="password" type="password" class="form-control" placeholder="Password">
                            <input name="commit" type="submit" class="btn btn-primary" value="Login">
                        </form>
                    </div>
                </div>
                <div class="login-help text-center">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}