@charset "utf-8";
/**
 * @author: Danilo Aburto Vivians
 * @author: Camilo Farfán Pérez
 */

/**
 * Fonts
 */
//@import url("http://fonts.googleapis.com/css?family=Oswald:400,700,300");
//@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic");

/* 
 * Libraries
 */

@import "less/bootstrap/bootstrap.less";
@import "less/widow/widow.less";
@import "less/vendor/vendor.less";


/* 
 * Utilities 
 */
 
.warning p {
  text-align: center;
  background: #ffffbb;
  border: 1px solid #ffcc00;
  padding: 10px;
}

/**
 * Site
 */

html {
	background-color: #f7f8f9;
  background-image: linear-gradient(#fff 30%, #f7f8f9 59%);
  background-position: 50% 50%;
  background-repeat: no-repeat;;
  min-height: 100%;
}

body {
	padding-top: 70px;
	background-color: transparent;
}

a {
  .transition(all 0.2s);
}

.login-header {
	// margin-top: 30px;
	margin-bottom: 60px;
}
