{% extends "layouts/layout.html" %}
{% block MAIN %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">Home</li>
        </ol>
    </div>
    <div class="main container">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>
                This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
            </p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div>
    </div>
{% endblock %}